@charset "utf-8";
/* CSS Document */

#row{display: table-row;}
 #left { width:50px; padding:1em; border: 1px solid black; display: table-cell; }
  #right { width:50px; padding:1em; border: 1px solid black; display: table-cell; } 
  #middle { padding: 1em; border: 1px solid black; display: table-cell; }
  #colr{color:#FFF}