<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Paciente</servlet-name>
        <servlet-class>SERVLET.Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setPaciente</servlet-name>
        <servlet-class>SERVLET.setPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEntrada</servlet-name>
        <servlet-class>SERVLET.srvEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrEmpleado</servlet-name>
        <servlet-class>SERVLET.SrEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCita</servlet-name>
        <servlet-class>SERVLET.CrearCita</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Paciente</servlet-name>
        <url-pattern>/Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setPaciente</servlet-name>
        <url-pattern>/setPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEntrada</servlet-name>
        <url-pattern>/srvEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrEmpleado</servlet-name>
        <url-pattern>/SrEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCita</servlet-name>
        <url-pattern>/CrearCita</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
