USE [master]
GO
/****** Object:  Database [clinica]    Script Date: 19/06/2014 8:55:37 ******/
CREATE DATABASE [clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ANGEL\MSSQL\DATA\clinica.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ANGEL\MSSQL\DATA\clinica_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [clinica]
GO
/****** Object:  User [NT SERVICE\SQLAgent$ANGEL]    Script Date: 19/06/2014 8:55:37 ******/
CREATE USER [NT SERVICE\SQLAgent$ANGEL] FOR LOGIN [NT SERVICE\SQLAgent$ANGEL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT Service\MSSQL$ANGEL]    Script Date: 19/06/2014 8:55:37 ******/
CREATE USER [NT Service\MSSQL$ANGEL] FOR LOGIN [NT Service\MSSQL$ANGEL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [cliente]    Script Date: 19/06/2014 8:55:37 ******/
CREATE USER [cliente] FOR LOGIN [cliente] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [An]    Script Date: 19/06/2014 8:55:37 ******/
CREATE USER [An] FOR LOGIN [An] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [An]
GO
/****** Object:  StoredProcedure [dbo].[InsertCita]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[InsertCita](@idHorario int, @fechaCita date, @idMedicoAsig int, @idPaciente int, @idPersona int, @MotivoCita varchar(50), @CorreoPaciente varchar(50), @Telefono varchar(50))
as
Insert into cita(fechaCita, correoCita,motivo, estadoCita, fkhorario, fkPaciente) values(@fechaCita,@CorreoPaciente,@MotivoCita, 'sin confirmacion',@idHorario, @idPaciente)
Insert into correo(Correo,fkPersona) values(@CorreoPaciente,@idPersona)
Insert into telefono(numero,tipo,idPerson)values(@Telefono,'residencial',@idPersona)

GO
/****** Object:  StoredProcedure [dbo].[registroempleado]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[registroempleado]
    @rol as int,
    @usu AS VARCHAR(50),
    @pass AS VARCHAR(50),
    @pnombre AS VARCHAR(30),
	@snombre AS VARCHAR(30),
	@papellido AS VARCHAR(30),
	@sapellido AS VARCHAR(30),
	@fechanaci AS date,
	@sexo AS VARCHAR(2),
	@idpersona as int=0,
	@numDocu as varchar(50),
    @tipodocu as varchar(50),
	@numtele as varchar(50),
	@tipotele as varchar(50),
	@calle as varchar(50),
	@casa as varchar(50),
	@munici as int,
	@correo as varchar(50),
	@tipocorreo as varchar(50),
    @idJer AS BIGINT,
	@cargo as int,
	@tipoempleado as int,
    @msg AS VARCHAR(100) OUTPUT

AS
BEGIN

    SET NOCOUNT ON;

    Begin Tran Tadd

    Begin Try

        INSERT INTO dbo.login(usuLogin,passLogin,fkRol) VALUES (@usu,@pass,@rol)
        INSERT INTO dbo.persona(pnombrePer,snombrePer,pApellPer,sApellPer,fechaNacPer,sexo,fkLogin,fkresponsable) VALUES (@pnombre,@snombre,@papellido,@sapellido,@fechanaci,@sexo,@@IDENTITY, @idJer)
		select @idpersona=@@IDENTITY
	    INSERT INTO  dbo.documento(numero,tipo,fkpersona ) values (@numDocu,@tipodocu,@idpersona)
		INSERT INTO  dbo.telefono(numero,tipo,idPerson) values(@numtele,@tipotele,@idpersona)
		INSERT INTO dbo.Direccion(calleDireccion,casaDireccion,fkMunicipio,fkpersona)values(@calle,@casa,@munici,@idpersona)
		INSERT INTO  dbo.correo(Correo,tipo,fkPersona) values(@correo,@tipocorreo,@idpersona)
		insert into dbo.empleado(fkCargo,fkTipoemple,fkpersona) values(@cargo,@tipoempleado,@idpersona)
        SET @msg = 'El Usuario se registro correctamente.'

        COMMIT TRAN Tadd

    End try
    Begin Catch

        SET @msg = 'Ocurrio un Error: ' + ERROR_MESSAGE() + ' en la línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'
        Rollback TRAN Tadd

    End Catch

END

GO
/****** Object:  StoredProcedure [dbo].[registroUsuario]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registroUsuario]
    @usu AS VARCHAR(50),
    @pass AS VARCHAR(50),
    @pnombre AS VARCHAR(30),
	@snombre AS VARCHAR(30),
	@papellido AS VARCHAR(30),
	@sapellido AS VARCHAR(30),
	@fechanaci AS date,
	@sexo AS VARCHAR(2),
	@idpersona as int=0,
	@numDocu as varchar(50),
    @tipodocu as varchar(50),
	@numtele as varchar(50),
	@tipotele as varchar(50),
	@calle as varchar(50),
	@casa as varchar(50),
	@munici as int,
	@correo as varchar(50),
	@tipocorreo as varchar(50),
    @idJer AS BIGINT,
    @msg AS VARCHAR(100) OUTPUT

AS
BEGIN

    SET NOCOUNT ON;

    Begin Tran Tadd

    Begin Try

        INSERT INTO dbo.login(usuLogin,passLogin,fkRol) VALUES (@usu,@pass,1)
        INSERT INTO dbo.persona(pnombrePer,snombrePer,pApellPer,sApellPer,fechaNacPer,sexo,fkLogin,fkresponsable) VALUES (@pnombre,@snombre,@papellido,@sapellido,@fechanaci,@sexo,@@IDENTITY, @idJer)
		select @idpersona=@@IDENTITY
	    INSERT INTO  dbo.documento(numero,tipo,fkpersona ) values (@numDocu,@tipodocu,@idpersona)
		INSERT INTO  dbo.telefono(numero,tipo,idPerson) values(@numtele,@tipotele,@idpersona)
		INSERT INTO dbo.Direccion(calleDireccion,casaDireccion,fkMunicipio,fkpersona)values(@calle,@casa,@munici,@idpersona)
		INSERT INTO  dbo.correo(Correo,tipo,fkPersona) values(@correo,@tipocorreo,@idpersona)
		insert into dbo.paciente(fkpersona) values(@idpersona)
        SET @msg = 'El Usuario se registro correctamente.'

        COMMIT TRAN Tadd

    End try
    Begin Catch

        SET @msg = 'Ocurrio un Error: ' + ERROR_MESSAGE() + ' en la línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'
        Rollback TRAN Tadd

    End Catch

END

GO
/****** Object:  Table [dbo].[cargo]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cargo](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[nombreCargo] [varchar](50) NULL,
	[descripcionCargo] [varchar](50) NULL,
 CONSTRAINT [PK_cargo] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cita]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cita](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[fechaCita] [date] NOT NULL,
	[correoCita] [varchar](50) NOT NULL,
	[fkhorario] [int] NOT NULL,
	[motivo] [varchar](90) NULL,
	[estadoCita] [varchar](50) NOT NULL,
	[fkPaciente] [int] NOT NULL,
 CONSTRAINT [PK_cita] PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[consulta]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[consulta](
	[idConsulta] [int] IDENTITY(1,1) NOT NULL,
	[fechaConsulta] [date] NOT NULL,
	[horaConsulta] [time](7) NOT NULL,
	[peso] [varchar](50) NULL,
	[temperatura] [varchar](50) NOT NULL,
	[tensionalterial] [varbinary](50) NULL,
	[consultaPor] [varchar](250) NULL,
	[pulso] [varchar](50) NOT NULL,
	[tipoConsulta] [varchar](50) NOT NULL,
	[Medicamentos] [varchar](50) NULL,
	[Examenes] [varchar](250) NULL,
	[sintomasConsulta] [varchar](50) NOT NULL,
	[fkcita] [int] NULL,
	[fkExpediente] [int] NULL,
 CONSTRAINT [PK_consulta] PRIMARY KEY CLUSTERED 
(
	[idConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[correo]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[correo](
	[idCorreo] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[fkPersona] [int] NOT NULL,
 CONSTRAINT [PK_correo] PRIMARY KEY CLUSTERED 
(
	[idCorreo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[idDep] [int] IDENTITY(1,1) NOT NULL,
	[nombreDepa] [varchar](50) NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[idDep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detalle_entrada]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_entrada](
	[id] [int] NOT NULL,
	[fkentrada] [int] NOT NULL,
	[fkmedicina] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechacaducidad] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id] [int] NOT NULL,
	[fkfactura] [int] NOT NULL,
	[fkmedicina] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle_medicina]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_medicina](
	[idDetMedTrata] [int] IDENTITY(1,1) NOT NULL,
	[fkTratamiento] [int] NULL,
	[fkSalidaPro] [int] NULL,
 CONSTRAINT [PK_detalle_medicina] PRIMARY KEY CLUSTERED 
(
	[idDetMedTrata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle_salida]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_salida](
	[id] [int] NOT NULL,
	[fksalida] [int] NOT NULL,
	[fkmedicina] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[idDireccion] [int] IDENTITY(1,1) NOT NULL,
	[calleDireccion] [varchar](50) NULL,
	[casaDireccion] [varchar](50) NULL,
	[fkMunicipio] [int] NOT NULL,
	[fkpersona] [int] NOT NULL,
 CONSTRAINT [PK_Dirreccion] PRIMARY KEY CLUSTERED 
(
	[idDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[documento]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[documento](
	[idDocu] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[fkpersona] [int] NULL,
 CONSTRAINT [PK_documento] PRIMARY KEY CLUSTERED 
(
	[idDocu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[fkTipoemple] [int] NOT NULL,
	[fkCargo] [int] NOT NULL,
	[fkpersona] [int] NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[entrada]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[entrada](
	[idEntr] [int] IDENTITY(1,1) NOT NULL,
	[cantidadEntrada] [int] NOT NULL,
	[presentacionEntrada] [varchar](50) NULL,
	[precioEntrada] [decimal](18, 0) NULL,
	[fkEmpleado] [int] NULL,
	[fkmedicamento] [int] NULL,
	[fechaCaducidad] [date] NULL,
	[fechain] [date] NOT NULL,
 CONSTRAINT [PK_entrada] PRIMARY KEY CLUSTERED 
(
	[idEntr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[examen]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[examen](
	[idExamen] [int] IDENTITY(1,1) NOT NULL,
	[fechasoliExamen] [datetime] NULL,
	[fechaaplicacionExamen] [datetime] NULL,
	[observExamen] [varchar](50) NULL,
	[fkTipoexamen] [int] NOT NULL,
	[fkResultado] [int] NOT NULL,
	[fkConsulta] [int] NULL,
	[fkExpediente] [int] NOT NULL,
 CONSTRAINT [PK_examen] PRIMARY KEY CLUSTERED 
(
	[idExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[expediente]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expediente](
	[idExpedi] [int] IDENTITY(1,1) NOT NULL,
	[fkDetMedTrata] [int] NULL,
	[fkEmpleado] [int] NOT NULL,
	[fkpaciente] [int] NULL,
 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
(
	[idExpedi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[factura]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[factura](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NULL,
	[fkPaciente] [int] NOT NULL,
	[fkEmpleado] [int] NULL,
	[fkPago] [int] NULL,
	[fkconsulta] [int] NULL,
 CONSTRAINT [PK_factura] PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grupo](
	[idGrupo] [int] IDENTITY(1,1) NOT NULL,
	[nombreGrupo] [varchar](50) NULL,
 CONSTRAINT [PK_grupo] PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[horario]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horario](
	[idhorario] [int] IDENTITY(1,1) NOT NULL,
	[horaini] [time](1) NULL,
	[horarifi] [time](1) NULL,
	[fkempleado] [int] NOT NULL,
 CONSTRAINT [PK_horario] PRIMARY KEY CLUSTERED 
(
	[idhorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[junta]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[junta](
	[idJunta] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](50) NULL,
	[fkMedico] [int] NULL,
 CONSTRAINT [PK_junta] PRIMARY KEY CLUSTERED 
(
	[idJunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login](
	[idLogin] [int] IDENTITY(1,1) NOT NULL,
	[usuLogin] [varchar](50) NOT NULL,
	[passLogin] [varchar](50) NOT NULL,
	[fkRol] [int] NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[idLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[medicamento]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[medicamento](
	[idMedica] [int] IDENTITY(1,1) NOT NULL,
	[nombreMedica] [varchar](50) NOT NULL,
	[viaAdmonMedica] [varchar](50) NULL,
	[presentaMedica] [varchar](50) NULL,
	[existenciaMedica] [int] NULL,
	[EstadoMedica] [varchar](50) NOT NULL,
	[fkSubGrupo] [int] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idMedica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[municipio]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[municipio](
	[idmuni] [int] IDENTITY(1,1) NOT NULL,
	[nombreMui] [varchar](255) NULL,
	[fkDepa] [int] NULL,
 CONSTRAINT [PK_Hoja1$] PRIMARY KEY CLUSTERED 
(
	[idmuni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[paciente]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paciente](
	[idPaciente] [int] IDENTITY(1,1) NOT NULL,
	[fkpersona] [int] NULL,
 CONSTRAINT [PK_paciente] PRIMARY KEY CLUSTERED 
(
	[idPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pago]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[valorPago] [numeric](18, 0) NULL,
	[fkTipopago] [int] NULL,
 CONSTRAINT [PK_pago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[persona]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[persona](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[pnombrePer] [varchar](30) NOT NULL,
	[snombrePer] [varchar](30) NULL,
	[pApellPer] [varchar](30) NOT NULL,
	[sApellPer] [varchar](50) NULL,
	[fechaNacPer] [date] NOT NULL,
	[sexo] [varchar](1) NULL,
	[iglesia] [varchar](50) NULL,
	[fkLogin] [int] NULL,
	[fkresponsable] [int] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[resultado]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[resultado](
	[idResultado] [int] IDENTITY(1,1) NOT NULL,
	[descripcionResul] [varchar](100) NULL,
 CONSTRAINT [PK_resultado] PRIMARY KEY CLUSTERED 
(
	[idResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rol]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [varchar](50) NULL,
	[descripcionRol] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salida]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salida](
	[idsalida] [int] IDENTITY(1,1) NOT NULL,
	[fechaSalida] [date] NOT NULL,
	[fkMedicamento] [int] NOT NULL,
	[fktiposalida] [int] NULL,
 CONSTRAINT [PK_salida] PRIMARY KEY CLUSTERED 
(
	[idsalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[subgrupo]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[subgrupo](
	[idSubGrupo] [int] IDENTITY(1,1) NOT NULL,
	[nombreSubGrupo] [varchar](50) NULL,
	[fkGrupo] [int] NULL,
 CONSTRAINT [PK_subgrupo] PRIMARY KEY CLUSTERED 
(
	[idSubGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[telefono](
	[idtelefono] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NULL,
	[idPerson] [int] NOT NULL,
 CONSTRAINT [PK_telefono] PRIMARY KEY CLUSTERED 
(
	[idtelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_empleado]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_empleado](
	[idTipoEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoEmp] [varchar](50) NULL,
	[descripcionTipoEmp] [varchar](80) NULL,
 CONSTRAINT [PK_tipo_empleado] PRIMARY KEY CLUSTERED 
(
	[idTipoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_examen]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_examen](
	[idTipoExamen] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoExa] [varchar](50) NULL,
	[descripcionTipoExa] [varchar](90) NULL,
 CONSTRAINT [PK_tipo_examen] PRIMARY KEY CLUSTERED 
(
	[idTipoExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_pago]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_pago](
	[idTipopago] [int] IDENTITY(1,1) NOT NULL,
	[descripcionTipoPago] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_pago] PRIMARY KEY CLUSTERED 
(
	[idTipopago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_salida]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_salida](
	[id] [int] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_tratamiento]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_tratamiento](
	[idTipoTratamient] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoTrata] [varchar](50) NULL,
	[descripcionTipoTrata] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_tratamiento] PRIMARY KEY CLUSTERED 
(
	[idTipoTratamient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tratamiento]    Script Date: 19/06/2014 8:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tratamiento](
	[idTratamiento] [int] IDENTITY(1,1) NOT NULL,
	[fechainiTrata] [date] NOT NULL,
	[fechasoliTrata] [date] NULL,
	[observaTrata] [varchar](150) NOT NULL,
	[fechafinalTrata] [datetime] NULL,
	[fkConsulta] [int] NULL,
	[fkTipoTrata] [int] NULL,
 CONSTRAINT [PK_tratamiento] PRIMARY KEY CLUSTERED 
(
	[idTratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cargo] ON 

INSERT [dbo].[cargo] ([idCargo], [nombreCargo], [descripcionCargo]) VALUES (1, N'medicina', N'diagnostico')
INSERT [dbo].[cargo] ([idCargo], [nombreCargo], [descripcionCargo]) VALUES (2, N'medico', N'diagnostico')
INSERT [dbo].[cargo] ([idCargo], [nombreCargo], [descripcionCargo]) VALUES (3, N'administrativo', N'atender personas')
SET IDENTITY_INSERT [dbo].[cargo] OFF
SET IDENTITY_INSERT [dbo].[cita] ON 

INSERT [dbo].[cita] ([idCita], [fechaCita], [correoCita], [fkhorario], [motivo], [estadoCita], [fkPaciente]) VALUES (1, CAST(0xA3380B00 AS Date), N'email@Nazareth.com                 ', 31, N'Dorlor', N'espera', 1)
INSERT [dbo].[cita] ([idCita], [fechaCita], [correoCita], [fkhorario], [motivo], [estadoCita], [fkPaciente]) VALUES (6, CAST(0xA1380B00 AS Date), N'email@Nazareth.com                 ', 31, N'miedo', N'confirmado', 10)
INSERT [dbo].[cita] ([idCita], [fechaCita], [correoCita], [fkhorario], [motivo], [estadoCita], [fkPaciente]) VALUES (10, CAST(0xA7380B00 AS Date), N'email@Nazareth.com                 ', 3, N'dolor', N'espera    ', 1)
GO
SET IDENTITY_INSERT [dbo].[cita] OFF
SET IDENTITY_INSERT [dbo].[consulta] ON 

INSERT [dbo].[consulta] ([idConsulta], [fechaConsulta], [horaConsulta], [peso], [temperatura], [tensionalterial], [consultaPor], [pulso], [tipoConsulta], [Medicamentos], [Examenes], [sintomasConsulta], [fkcita], [fkExpediente]) VALUES (1, CAST(0xA4380B00 AS Date), CAST(0x070040230E430000 AS Time), N'200', N'37', NULL, NULL, N'1.70', N'general', NULL, NULL, N'dolor', 1, 1)
INSERT [dbo].[consulta] ([idConsulta], [fechaConsulta], [horaConsulta], [peso], [temperatura], [tensionalterial], [consultaPor], [pulso], [tipoConsulta], [Medicamentos], [Examenes], [sintomasConsulta], [fkcita], [fkExpediente]) VALUES (4, CAST(0xA4380B00 AS Date), CAST(0x0700A8E76F4B0000 AS Time), N'170', N'37', NULL, NULL, N'1.60', N'especialida', NULL, NULL, N'piel', 21, 3)
INSERT [dbo].[consulta] ([idConsulta], [fechaConsulta], [horaConsulta], [peso], [temperatura], [tensionalterial], [consultaPor], [pulso], [tipoConsulta], [Medicamentos], [Examenes], [sintomasConsulta], [fkcita], [fkExpediente]) VALUES (7, CAST(0xA4380B00 AS Date), CAST(0x07007870335C0000 AS Time), N'210', N'36', NULL, NULL, N'1.80', N'general', NULL, NULL, N'sobreperso', 23, 4)
SET IDENTITY_INSERT [dbo].[consulta] OFF
SET IDENTITY_INSERT [dbo].[correo] ON 

INSERT [dbo].[correo] ([idCorreo], [Correo], [tipo], [fkPersona]) VALUES (1, N'jaga_jangel', NULL, 1)
INSERT [dbo].[correo] ([idCorreo], [Correo], [tipo], [fkPersona]) VALUES (2, N'algo', NULL, 1)
INSERT [dbo].[correo] ([idCorreo], [Correo], [tipo], [fkPersona]) VALUES (6, N'juanperez@hotmail.com', N'oficina', 20)
SET IDENTITY_INSERT [dbo].[correo] OFF
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([idDep], [nombreDepa]) VALUES (1, N'san salvador')
INSERT [dbo].[Departamento] ([idDep], [nombreDepa]) VALUES (2, N'san vicente')
INSERT [dbo].[Departamento] ([idDep], [nombreDepa]) VALUES (3, N'Ahuachapán')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[detalle_medicina] ON 

INSERT [dbo].[detalle_medicina] ([idDetMedTrata], [fkTratamiento], [fkSalidaPro]) VALUES (4, 4, 1)
INSERT [dbo].[detalle_medicina] ([idDetMedTrata], [fkTratamiento], [fkSalidaPro]) VALUES (5, 9, NULL)
INSERT [dbo].[detalle_medicina] ([idDetMedTrata], [fkTratamiento], [fkSalidaPro]) VALUES (6, 7, NULL)
SET IDENTITY_INSERT [dbo].[detalle_medicina] OFF
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([idDireccion], [calleDireccion], [casaDireccion], [fkMunicipio], [fkpersona]) VALUES (1, N'planes', N'gavidia', 1, 16)
INSERT [dbo].[Direccion] ([idDireccion], [calleDireccion], [casaDireccion], [fkMunicipio], [fkpersona]) VALUES (5, N'dolores', N'12Vnida', 1, 20)
SET IDENTITY_INSERT [dbo].[Direccion] OFF
SET IDENTITY_INSERT [dbo].[documento] ON 

INSERT [dbo].[documento] ([idDocu], [numero], [tipo], [fkpersona]) VALUES (1, N'123213', N'dui', 1)
INSERT [dbo].[documento] ([idDocu], [numero], [tipo], [fkpersona]) VALUES (2, N'566123', N'pasaporte', 1)
INSERT [dbo].[documento] ([idDocu], [numero], [tipo], [fkpersona]) VALUES (3, N'vamos', N'vamos', 14)
SET IDENTITY_INSERT [dbo].[documento] OFF
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([idEmpleado], [fkTipoemple], [fkCargo], [fkpersona]) VALUES (2, 5, 1, 2)
INSERT [dbo].[empleado] ([idEmpleado], [fkTipoemple], [fkCargo], [fkpersona]) VALUES (3, 6, 2, 4)
INSERT [dbo].[empleado] ([idEmpleado], [fkTipoemple], [fkCargo], [fkpersona]) VALUES (7, 5, 1, 20)
SET IDENTITY_INSERT [dbo].[empleado] OFF
SET IDENTITY_INSERT [dbo].[entrada] ON 

INSERT [dbo].[entrada] ([idEntr], [cantidadEntrada], [presentacionEntrada], [precioEntrada], [fkEmpleado], [fkmedicamento], [fechaCaducidad], [fechain]) VALUES (2, 20, N'botes ', CAST(2 AS Decimal(18, 0)), 2, 9, CAST(0x6D390B00 AS Date), CAST(0xA6380B00 AS Date))
SET IDENTITY_INSERT [dbo].[entrada] OFF
SET IDENTITY_INSERT [dbo].[expediente] ON 

INSERT [dbo].[expediente] ([idExpedi], [fkDetMedTrata], [fkEmpleado], [fkpaciente]) VALUES (1, 4, 2, 1)
INSERT [dbo].[expediente] ([idExpedi], [fkDetMedTrata], [fkEmpleado], [fkpaciente]) VALUES (3, 7, 3, 10)
INSERT [dbo].[expediente] ([idExpedi], [fkDetMedTrata], [fkEmpleado], [fkpaciente]) VALUES (4, 5, 2, 11)
SET IDENTITY_INSERT [dbo].[expediente] OFF
SET IDENTITY_INSERT [dbo].[grupo] ON 

INSERT [dbo].[grupo] ([idGrupo], [nombreGrupo]) VALUES (1, N'medi')
INSERT [dbo].[grupo] ([idGrupo], [nombreGrupo]) VALUES (2, N'jara')
INSERT [dbo].[grupo] ([idGrupo], [nombreGrupo]) VALUES (3, N'sudor')
SET IDENTITY_INSERT [dbo].[grupo] OFF
SET IDENTITY_INSERT [dbo].[horario] ON 

INSERT [dbo].[horario] ([idhorario], [horaini], [horarifi], [fkempleado]) VALUES (1, CAST(0x0100650400000000 AS Time), CAST(0x0150AB0400000000 AS Time), 2)
INSERT [dbo].[horario] ([idhorario], [horaini], [horarifi], [fkempleado]) VALUES (3, CAST(0x0150AB0400000000 AS Time), CAST(0x01A0F10400000000 AS Time), 2)
INSERT [dbo].[horario] ([idhorario], [horaini], [horarifi], [fkempleado]) VALUES (4, CAST(0x01F0370500000000 AS Time), CAST(0x01407E0500000000 AS Time), 2)
SET IDENTITY_INSERT [dbo].[horario] OFF
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([idLogin], [usuLogin], [passLogin], [fkRol]) VALUES (1, N'Angel@ejemplo.com', N'123', 1)
INSERT [dbo].[login] ([idLogin], [usuLogin], [passLogin], [fkRol]) VALUES (2, N'marlonl@ejemplo.com', N'123', 2)
INSERT [dbo].[login] ([idLogin], [usuLogin], [passLogin], [fkRol]) VALUES (3, N'oscarl@ejemplo.com', N'123', 3)
SET IDENTITY_INSERT [dbo].[login] OFF
SET IDENTITY_INSERT [dbo].[medicamento] ON 

INSERT [dbo].[medicamento] ([idMedica], [nombreMedica], [viaAdmonMedica], [presentaMedica], [existenciaMedica], [EstadoMedica], [fkSubGrupo]) VALUES (9, N'dolofin', N'oral', N'pastillas', NULL, N'activo', 1)
SET IDENTITY_INSERT [dbo].[medicamento] OFF
SET IDENTITY_INSERT [dbo].[municipio] ON 

INSERT [dbo].[municipio] ([idmuni], [nombreMui], [fkDepa]) VALUES (1, N'Aguilares', 1)
INSERT [dbo].[municipio] ([idmuni], [nombreMui], [fkDepa]) VALUES (2, N'Apopa', 1)
INSERT [dbo].[municipio] ([idmuni], [nombreMui], [fkDepa]) VALUES (3, N'Ayutuxtepeque', 1)
GO
SET IDENTITY_INSERT [dbo].[municipio] OFF
SET IDENTITY_INSERT [dbo].[paciente] ON 

INSERT [dbo].[paciente] ([idPaciente], [fkpersona]) VALUES (1, 1)
INSERT [dbo].[paciente] ([idPaciente], [fkpersona]) VALUES (10, 5)
INSERT [dbo].[paciente] ([idPaciente], [fkpersona]) VALUES (11, 6)
SET IDENTITY_INSERT [dbo].[paciente] OFF
SET IDENTITY_INSERT [dbo].[persona] ON 

INSERT [dbo].[persona] ([idPersona], [pnombrePer], [snombrePer], [pApellPer], [sApellPer], [fechaNacPer], [sexo], [iglesia], [fkLogin], [fkresponsable]) VALUES (1, N'jose', N'angel', N'gomez', N'alvardo', CAST(0x42180B00 AS Date), NULL, NULL, 1, NULL)
INSERT [dbo].[persona] ([idPersona], [pnombrePer], [snombrePer], [pApellPer], [sApellPer], [fechaNacPer], [sexo], [iglesia], [fkLogin], [fkresponsable]) VALUES (2, N'marlon', N'alonso', N'navarrete', N'cruz', CAST(0x2B170B00 AS Date), NULL, NULL, 2, NULL)
INSERT [dbo].[persona] ([idPersona], [pnombrePer], [snombrePer], [pApellPer], [sApellPer], [fechaNacPer], [sexo], [iglesia], [fkLogin], [fkresponsable]) VALUES (3, N'marlon', N'alonso', N'navarrete', N'cruz', CAST(0x2B170B00 AS Date), NULL, NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[persona] OFF
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idRol], [nombreRol], [descripcionRol]) VALUES (1, N'paciente', NULL)
INSERT [dbo].[rol] ([idRol], [nombreRol], [descripcionRol]) VALUES (2, N'medico', NULL)
INSERT [dbo].[rol] ([idRol], [nombreRol], [descripcionRol]) VALUES (3, N'secretaria', NULL)
SET IDENTITY_INSERT [dbo].[rol] OFF
SET IDENTITY_INSERT [dbo].[salida] ON 

INSERT [dbo].[salida] ([idsalida], [fechaSalida], [fkMedicamento], [fktiposalida]) VALUES (1, CAST(0xA4380B00 AS Date), 9, NULL)
SET IDENTITY_INSERT [dbo].[salida] OFF
SET IDENTITY_INSERT [dbo].[subgrupo] ON 

INSERT [dbo].[subgrupo] ([idSubGrupo], [nombreSubGrupo], [fkGrupo]) VALUES (1, N'saber', 1)
SET IDENTITY_INSERT [dbo].[subgrupo] OFF
SET IDENTITY_INSERT [dbo].[telefono] ON 

INSERT [dbo].[telefono] ([idtelefono], [numero], [tipo], [idPerson]) VALUES (1, N'22806019', N'residencial', 1)
INSERT [dbo].[telefono] ([idtelefono], [numero], [tipo], [idPerson]) VALUES (2, N'22806019', N'residencial', 1)
INSERT [dbo].[telefono] ([idtelefono], [numero], [tipo], [idPerson]) VALUES (3, N'22806019', N'residencial', 1)
SET IDENTITY_INSERT [dbo].[telefono] OFF
SET IDENTITY_INSERT [dbo].[tipo_empleado] ON 

INSERT [dbo].[tipo_empleado] ([idTipoEmpleado], [nombreTipoEmp], [descripcionTipoEmp]) VALUES (5, N' general', N'medicamentos')
INSERT [dbo].[tipo_empleado] ([idTipoEmpleado], [nombreTipoEmp], [descripcionTipoEmp]) VALUES (6, N'especialidad', N'medicina')
INSERT [dbo].[tipo_empleado] ([idTipoEmpleado], [nombreTipoEmp], [descripcionTipoEmp]) VALUES (7, N'odontologo', N'dental')
SET IDENTITY_INSERT [dbo].[tipo_empleado] OFF
SET IDENTITY_INSERT [dbo].[tipo_pago] ON 

INSERT [dbo].[tipo_pago] ([idTipopago], [descripcionTipoPago]) VALUES (2, N'credito')
INSERT [dbo].[tipo_pago] ([idTipopago], [descripcionTipoPago]) VALUES (1, N'efectivo')
INSERT [dbo].[tipo_pago] ([idTipopago], [descripcionTipoPago]) VALUES (3, N'gratis')
SET IDENTITY_INSERT [dbo].[tipo_pago] OFF
SET IDENTITY_INSERT [dbo].[tipo_tratamiento] ON 

INSERT [dbo].[tipo_tratamiento] ([idTipoTratamient], [nombreTipoTrata], [descripcionTipoTrata]) VALUES (1, N'Analgésico', N'contra el dolor')
INSERT [dbo].[tipo_tratamiento] ([idTipoTratamient], [nombreTipoTrata], [descripcionTipoTrata]) VALUES (2, N'Anestésico', N'para adormecer a los pacientes en cirugía')
INSERT [dbo].[tipo_tratamiento] ([idTipoTratamient], [nombreTipoTrata], [descripcionTipoTrata]) VALUES (3, N'Ansiolítico', N'contra la ansiedad')
SET IDENTITY_INSERT [dbo].[tipo_tratamiento] OFF
SET IDENTITY_INSERT [dbo].[tratamiento] ON 

INSERT [dbo].[tratamiento] ([idTratamiento], [fechainiTrata], [fechasoliTrata], [observaTrata], [fechafinalTrata], [fkConsulta], [fkTipoTrata]) VALUES (4, CAST(0xA4380B00 AS Date), CAST(0xA4380B00 AS Date), N'ghj', CAST(0x0000A34C00000000 AS DateTime), 1, 1)
INSERT [dbo].[tratamiento] ([idTratamiento], [fechainiTrata], [fechasoliTrata], [observaTrata], [fechafinalTrata], [fkConsulta], [fkTipoTrata]) VALUES (7, CAST(0xA4380B00 AS Date), CAST(0xA4380B00 AS Date), N'es feo', CAST(0x0000A62400000000 AS DateTime), 4, 2)
INSERT [dbo].[tratamiento] ([idTratamiento], [fechainiTrata], [fechasoliTrata], [observaTrata], [fechafinalTrata], [fkConsulta], [fkTipoTrata]) VALUES (9, CAST(0xA5380B00 AS Date), CAST(0xA5380B00 AS Date), N'deformaciones ', CAST(0x0000A34B00000000 AS DateTime), 7, 3)
SET IDENTITY_INSERT [dbo].[tratamiento] OFF
/****** Object:  Index [IX_consulta]    Script Date: 19/06/2014 8:55:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_consulta] ON [dbo].[consulta]
(
	[fkcita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__empleado__52AEF05D2EA1F731]    Script Date: 19/06/2014 8:55:38 ******/
ALTER TABLE [dbo].[empleado] ADD  CONSTRAINT [UQ__empleado__52AEF05D2EA1F731] UNIQUE NONCLUSTERED 
(
	[fkpersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_expediente]    Script Date: 19/06/2014 8:55:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_expediente] ON [dbo].[expediente]
(
	[fkpaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__paciente__52AEF05D5143E7E6]    Script Date: 19/06/2014 8:55:38 ******/
ALTER TABLE [dbo].[paciente] ADD UNIQUE NONCLUSTERED 
(
	[fkpersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tipo_pag__9CD5AC53E069F42A]    Script Date: 19/06/2014 8:55:38 ******/
ALTER TABLE [dbo].[tipo_pago] ADD UNIQUE NONCLUSTERED 
(
	[descripcionTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cita] ADD  CONSTRAINT [DF_cita_estadoCita]  DEFAULT ('espera') FOR [estadoCita]
GO
ALTER TABLE [dbo].[cita]  WITH CHECK ADD  CONSTRAINT [FK_cita_horario] FOREIGN KEY([fkhorario])
REFERENCES [dbo].[horario] ([idhorario])
GO
ALTER TABLE [dbo].[cita] CHECK CONSTRAINT [FK_cita_horario]
GO
ALTER TABLE [dbo].[cita]  WITH CHECK ADD  CONSTRAINT [FK_cita_paciente] FOREIGN KEY([fkPaciente])
REFERENCES [dbo].[paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[cita] CHECK CONSTRAINT [FK_cita_paciente]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_consulta_cita] FOREIGN KEY([fkcita])
REFERENCES [dbo].[cita] ([idCita])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_consulta_cita]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [FK_consulta_expediente] FOREIGN KEY([fkExpediente])
REFERENCES [dbo].[expediente] ([idExpedi])
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [FK_consulta_expediente]
GO
ALTER TABLE [dbo].[correo]  WITH CHECK ADD  CONSTRAINT [FK_correo_persona] FOREIGN KEY([fkPersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[correo] CHECK CONSTRAINT [FK_correo_persona]
GO
ALTER TABLE [dbo].[detalle_entrada]  WITH CHECK ADD FOREIGN KEY([fkentrada])
REFERENCES [dbo].[entrada] ([idEntr])
GO
ALTER TABLE [dbo].[detalle_entrada]  WITH CHECK ADD FOREIGN KEY([fkmedicina])
REFERENCES [dbo].[medicamento] ([idMedica])
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD FOREIGN KEY([fkfactura])
REFERENCES [dbo].[factura] ([idFactura])
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD FOREIGN KEY([fkmedicina])
REFERENCES [dbo].[medicamento] ([idMedica])
GO
ALTER TABLE [dbo].[detalle_medicina]  WITH CHECK ADD  CONSTRAINT [fkDetalleTratamiento] FOREIGN KEY([fkTratamiento])
REFERENCES [dbo].[tratamiento] ([idTratamiento])
GO
ALTER TABLE [dbo].[detalle_medicina] CHECK CONSTRAINT [fkDetalleTratamiento]
GO
ALTER TABLE [dbo].[detalle_salida]  WITH CHECK ADD FOREIGN KEY([fkmedicina])
REFERENCES [dbo].[medicamento] ([idMedica])
GO
ALTER TABLE [dbo].[detalle_salida]  WITH CHECK ADD FOREIGN KEY([fksalida])
REFERENCES [dbo].[salida] ([idsalida])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_municipio] FOREIGN KEY([fkMunicipio])
REFERENCES [dbo].[municipio] ([idmuni])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_municipio]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_persona] FOREIGN KEY([fkpersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_persona]
GO
ALTER TABLE [dbo].[documento]  WITH CHECK ADD  CONSTRAINT [FK_documento_persona] FOREIGN KEY([fkpersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[documento] CHECK CONSTRAINT [FK_documento_persona]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_cargo1] FOREIGN KEY([fkCargo])
REFERENCES [dbo].[cargo] ([idCargo])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_cargo1]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_persona] FOREIGN KEY([fkpersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_persona]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_tipo_empleado1] FOREIGN KEY([fkTipoemple])
REFERENCES [dbo].[tipo_empleado] ([idTipoEmpleado])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_tipo_empleado1]
GO
ALTER TABLE [dbo].[entrada]  WITH NOCHECK ADD  CONSTRAINT [FK_entrada_medicamento] FOREIGN KEY([fkmedicamento])
REFERENCES [dbo].[medicamento] ([idMedica])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[entrada] CHECK CONSTRAINT [FK_entrada_medicamento]
GO
ALTER TABLE [dbo].[entrada]  WITH CHECK ADD  CONSTRAINT [fkEmpleadoEntrada] FOREIGN KEY([fkEmpleado])
REFERENCES [dbo].[empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[entrada] CHECK CONSTRAINT [fkEmpleadoEntrada]
GO
ALTER TABLE [dbo].[examen]  WITH CHECK ADD  CONSTRAINT [FK_examen_resultado] FOREIGN KEY([fkResultado])
REFERENCES [dbo].[resultado] ([idResultado])
GO
ALTER TABLE [dbo].[examen] CHECK CONSTRAINT [FK_examen_resultado]
GO
ALTER TABLE [dbo].[examen]  WITH CHECK ADD  CONSTRAINT [FK_examen_tipo_examen1] FOREIGN KEY([fkTipoexamen])
REFERENCES [dbo].[tipo_examen] ([idTipoExamen])
GO
ALTER TABLE [dbo].[examen] CHECK CONSTRAINT [FK_examen_tipo_examen1]
GO
ALTER TABLE [dbo].[examen]  WITH CHECK ADD  CONSTRAINT [fkExamenConsulta] FOREIGN KEY([fkConsulta])
REFERENCES [dbo].[consulta] ([idConsulta])
GO
ALTER TABLE [dbo].[examen] CHECK CONSTRAINT [fkExamenConsulta]
GO
ALTER TABLE [dbo].[expediente]  WITH CHECK ADD  CONSTRAINT [FK_expediente_paciente] FOREIGN KEY([fkpaciente])
REFERENCES [dbo].[paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[expediente] CHECK CONSTRAINT [FK_expediente_paciente]
GO
ALTER TABLE [dbo].[expediente]  WITH CHECK ADD  CONSTRAINT [fkExpedienteDetaMed] FOREIGN KEY([fkDetMedTrata])
REFERENCES [dbo].[detalle_medicina] ([idDetMedTrata])
GO
ALTER TABLE [dbo].[expediente] CHECK CONSTRAINT [fkExpedienteDetaMed]
GO
ALTER TABLE [dbo].[expediente]  WITH CHECK ADD  CONSTRAINT [fkExpedienteEmpleado] FOREIGN KEY([fkEmpleado])
REFERENCES [dbo].[empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[expediente] CHECK CONSTRAINT [fkExpedienteEmpleado]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK__factura__fkconsu__5F7E2DAC] FOREIGN KEY([fkconsulta])
REFERENCES [dbo].[consulta] ([idConsulta])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK__factura__fkconsu__5F7E2DAC]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK_factura_paciente] FOREIGN KEY([fkPaciente])
REFERENCES [dbo].[paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK_factura_paciente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK_factura_pago] FOREIGN KEY([fkPago])
REFERENCES [dbo].[pago] ([idPago])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK_factura_pago]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_empleado] FOREIGN KEY([fkempleado])
REFERENCES [dbo].[empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_empleado]
GO
ALTER TABLE [dbo].[junta]  WITH CHECK ADD  CONSTRAINT [FK_junta_empleado] FOREIGN KEY([fkMedico])
REFERENCES [dbo].[empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[junta] CHECK CONSTRAINT [FK_junta_empleado]
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD  CONSTRAINT [FK_login_rol] FOREIGN KEY([fkRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[login] CHECK CONSTRAINT [FK_login_rol]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [fkMediSub] FOREIGN KEY([fkSubGrupo])
REFERENCES [dbo].[subgrupo] ([idSubGrupo])
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [fkMediSub]
GO
ALTER TABLE [dbo].[municipio]  WITH CHECK ADD  CONSTRAINT [FK_municipio_Departamento] FOREIGN KEY([fkDepa])
REFERENCES [dbo].[Departamento] ([idDep])
GO
ALTER TABLE [dbo].[municipio] CHECK CONSTRAINT [FK_municipio_Departamento]
GO
ALTER TABLE [dbo].[paciente]  WITH CHECK ADD  CONSTRAINT [FK_paciente_paciente] FOREIGN KEY([fkpersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[paciente] CHECK CONSTRAINT [FK_paciente_paciente]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_tipo_pago] FOREIGN KEY([fkTipopago])
REFERENCES [dbo].[tipo_pago] ([idTipopago])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_tipo_pago]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_persona] FOREIGN KEY([fkresponsable])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_persona]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FKpersonaLogin] FOREIGN KEY([fkLogin])
REFERENCES [dbo].[login] ([idLogin])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FKpersonaLogin]
GO
ALTER TABLE [dbo].[salida]  WITH CHECK ADD FOREIGN KEY([fktiposalida])
REFERENCES [dbo].[tipo_salida] ([id])
GO
ALTER TABLE [dbo].[salida]  WITH CHECK ADD  CONSTRAINT [fkSalidaMedicamento] FOREIGN KEY([fkMedicamento])
REFERENCES [dbo].[medicamento] ([idMedica])
GO
ALTER TABLE [dbo].[salida] CHECK CONSTRAINT [fkSalidaMedicamento]
GO
ALTER TABLE [dbo].[subgrupo]  WITH CHECK ADD  CONSTRAINT [fkGrupoSub] FOREIGN KEY([fkGrupo])
REFERENCES [dbo].[grupo] ([idGrupo])
GO
ALTER TABLE [dbo].[subgrupo] CHECK CONSTRAINT [fkGrupoSub]
GO
ALTER TABLE [dbo].[telefono]  WITH CHECK ADD  CONSTRAINT [FK_telefono_telefono] FOREIGN KEY([idPerson])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[telefono] CHECK CONSTRAINT [FK_telefono_telefono]
GO
ALTER TABLE [dbo].[tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_tratamiento_tipo_tratamiento] FOREIGN KEY([fkTipoTrata])
REFERENCES [dbo].[tipo_tratamiento] ([idTipoTratamient])
GO
ALTER TABLE [dbo].[tratamiento] CHECK CONSTRAINT [FK_tratamiento_tipo_tratamiento]
GO
ALTER TABLE [dbo].[tratamiento]  WITH CHECK ADD  CONSTRAINT [fkTratamientoConsulta] FOREIGN KEY([fkConsulta])
REFERENCES [dbo].[consulta] ([idConsulta])
GO
ALTER TABLE [dbo].[tratamiento] CHECK CONSTRAINT [fkTratamientoConsulta]
GO
ALTER TABLE [dbo].[cargo]  WITH CHECK ADD  CONSTRAINT [CK_cargo_soloLetras] CHECK  ((NOT [nombreCargo] like '%[^A-Z]%'))
GO
ALTER TABLE [dbo].[cargo] CHECK CONSTRAINT [CK_cargo_soloLetras]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [CK_consulta] CHECK  (([fechaconsulta]<getdate()))
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [CK_consulta]
GO
ALTER TABLE [dbo].[consulta]  WITH CHECK ADD  CONSTRAINT [CK_consulta_1] CHECK  ((NOT [sintomasConsulta] like '%[^A-Z]%'))
GO
ALTER TABLE [dbo].[consulta] CHECK CONSTRAINT [CK_consulta_1]
GO
ALTER TABLE [dbo].[examen]  WITH CHECK ADD  CONSTRAINT [CK_examen] CHECK  (([fechaaplicacionExamen]>getdate()))
GO
ALTER TABLE [dbo].[examen] CHECK CONSTRAINT [CK_examen]
GO
ALTER TABLE [dbo].[examen]  WITH CHECK ADD  CONSTRAINT [CK_examen_fechaSol] CHECK  (([fechasoliExamen]>=getdate()))
GO
ALTER TABLE [dbo].[examen] CHECK CONSTRAINT [CK_examen_fechaSol]
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD  CONSTRAINT [ckpassLogin] CHECK  ((ltrim(rtrim([passLogin]))<>''))
GO
ALTER TABLE [dbo].[login] CHECK CONSTRAINT [ckpassLogin]
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD  CONSTRAINT [ckusuLogin] CHECK  ((ltrim(rtrim([usuLogin]))<>''))
GO
ALTER TABLE [dbo].[login] CHECK CONSTRAINT [ckusuLogin]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [ckproducto] CHECK  ((NOT [nombreMedica] like '%[^A-Z]%'))
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [ckproducto]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona] CHECK  ((NOT [pnombrePer] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_1] CHECK  ((NOT [snombrePer] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_1]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_2] CHECK  ((NOT [snombrePer] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_2]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_3] CHECK  ((NOT [snombrePer] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_3]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_4] CHECK  (([fechaNacPer]<getdate()))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_4]
GO
ALTER TABLE [dbo].[rol]  WITH CHECK ADD  CONSTRAINT [ckNombreRol] CHECK  ((NOT [nombreRol] like '%[^A-Z]%'))
GO
ALTER TABLE [dbo].[rol] CHECK CONSTRAINT [ckNombreRol]
GO
ALTER TABLE [dbo].[tipo_empleado]  WITH CHECK ADD  CONSTRAINT [ckNombreTipoempleado] CHECK  (([nombreTipoEmp] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[tipo_empleado] CHECK CONSTRAINT [ckNombreTipoempleado]
GO
ALTER TABLE [dbo].[tipo_examen]  WITH CHECK ADD  CONSTRAINT [CK_tipo_examen_nombre] CHECK  ((NOT [nombreTipoExa] like '%[^A-Z]%'))
GO
ALTER TABLE [dbo].[tipo_examen] CHECK CONSTRAINT [CK_tipo_examen_nombre]
GO
ALTER TABLE [dbo].[tratamiento]  WITH CHECK ADD  CONSTRAINT [CK_tratamiento] CHECK  (([fechafinalTrata]>[fechainiTrata]))
GO
ALTER TABLE [dbo].[tratamiento] CHECK CONSTRAINT [CK_tratamiento]
GO
/****** Object:  Trigger [dbo].[correotr]    Script Date: 19/06/2014 8:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
CREATE TRIGGER [dbo].[correotr]

ON [dbo].[cita]

AFTER insert,update



AS 
declare @cor varchar(50)
select @cor=correoCita from inserted

BEGIN


    Exec msdb.dbo.sp_send_dbmail
@profile_name='clinicaNazareth',
@recipients=@cor,
@body='buenas tardes este correo es para confirmar con la cita pogramada en la clinica nazareth por favor dar click en el enlace 
para confirmar la cita  < src=https://www.google.com.sv/ /> 
si este correo llego por accidente nuestra disculpa y haga caso omiso de este muchas gracias por su atencion  ',
@subject='Confirmacion de cita';

 


END
	
	

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'evalua la fecha sea posterior al dia actual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'examen', @level2type=N'CONSTRAINT',@level2name=N'CK_examen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Evalua que la fecha de solicitud sea posterior o igual al dia actual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'examen', @level2type=N'CONSTRAINT',@level2name=N'CK_examen_fechaSol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'representa la via de administracion del medicamento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'medicamento', @level2type=N'COLUMN',@level2name=N'viaAdmonMedica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Representa la presentacion del medicamento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'medicamento', @level2type=N'COLUMN',@level2name=N'presentaMedica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'evalua que solo se escriban letras en nombre de examen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipo_examen', @level2type=N'CONSTRAINT',@level2name=N'CK_tipo_examen_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'evalua que la fecha final sea posterior a la inicial' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tratamiento', @level2type=N'CONSTRAINT',@level2name=N'CK_tratamiento'
GO
USE [master]
GO
