<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="primerejemploPU" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>clinica</jta-data-source>
        <class>CJPA.Cargo</class>
        <class>CJPA.Cita</class>
        <class>CJPA.Consulta</class>
        <class>CJPA.Correo</class>
        <class>CJPA.Departamento</class>
        <class>CJPA.DetalleEntrada</class>
        <class>CJPA.DetalleFactura</class>
        <class>CJPA.DetalleMedicina</class>
        <class>CJPA.DetalleSalida</class>
        <class>CJPA.Direccion</class>
        <class>CJPA.Documento</class>
        <class>CJPA.Empleado</class>
        <class>CJPA.Entrada</class>
        <class>CJPA.Examen</class>
        <class>CJPA.Expediente</class>
        <class>CJPA.Factura</class>
        <class>CJPA.Grupo</class>
        <class>CJPA.Horario</class>
        <class>CJPA.Junta</class>
        <class>CJPA.Login</class>
        <class>CJPA.Medicamento</class>
        <class>CJPA.Municipio</class>
        <class>CJPA.Paciente</class>
        <class>CJPA.Pago</class>
        <class>CJPA.Persona</class>
        <class>CJPA.Resultado</class>
        <class>CJPA.Rol</class>
        <class>CJPA.Salida</class>
        <class>CJPA.Subgrupo</class>
        <class>CJPA.Sysdiagrams</class>
        <class>CJPA.Telefono</class>
        <class>CJPA.TipoEmpleado</class>
        <class>CJPA.TipoExamen</class>
        <class>CJPA.TipoPago</class>
        <class>CJPA.TipoSalida</class>
        <class>CJPA.TipoTratamiento</class>
        <class>CJPA.Tratamiento</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="FINEST"/>
            <property name="eclipselink.ddl-generation" value="create-tables"/>
            <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost\clinicaDb:49759;databaseName=clinica"/>
            <property name="javax.persistence.jdbc.user" value="sa"/>
            <property name="javax.persistence.jdbc.password" value="destiny"/>
        </properties>
    </persistence-unit>
</persistence>
